#slider label {
  position: absolute;
  width: 20px;
  margin-left: -10px;
  text-align: center;
  margin-top: 20px;

  float : left;
}

/* below is not necessary, just for style */
#slider {
  width: 50%;
  margin: 1em;

  width: 50%;
  float :left;
}

#sliderLabel {
  float : left;
}

/*top bar*/
.top_menu_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.top_menu_li {
  float: right;
}

.top_menu_li_left {
  float: left;
}

.top_menu_li a , .top_menu_li_left a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top_menu_li a:hover, .top_menu_li_left a:hover {
  background-color: #111;
}

#graphic {
  float: left;
  position: absolute;
  top: 97px;
}

#choice_buttons {
  position: absolute;
  float: right;
  right: 40px;
  top: 117px;
}
