<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="server/static/css/home.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <title>Text Processing</title>
</head>

<body>

    <ul class="top_menu_ul">
        <li class="top_menu_li"><a href="default.asp">Home</a></li>
        <li class="top_menu_li"><a href="news.asp">News</a></li>
        <li class="top_menu_li"><a href="contact.asp">Contact</a></li>
        <li class="top_menu_li"><a href="about.asp">About</a></li>
    </ul> 

    <div class="horizontal_band">Text Processing Aplications</div>

    <div class="vl">
        <a href="{{text2data_url}}" class="btn btn-sq-lg btn-info but">
            <br>
            <i class="fa fa-file-pdf-o fa-5x" aria-hidden="true"></i><br/>
            <br>
            PDF to Data
        </a>
        <a href="{{politicsChart_url}}" class="btn btn-sq-lg btn-info but">
            <br>
            <i class="fa fa-user fa-5x"></i><br/>
            <br>
            Politics Counts
        </a>
        <a href="{{twitterChart_url}}" class="btn btn-sq-lg btn-info but">
            <br>
            <i class="fa fa-twitter fa-5x"></i><br/>
            <br>
            Twitter Statistics
        </a>
    </div>

    

    <h2>HTML Links</h2>
    <p>HTML links are defined with the a tag:</p>

    <a href="https://www.w3schools.com">This is a link</a>

</body>
</html>