.top_menu_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.top_menu_li {
    float: right;
}
  
.top_menu_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
.top_menu_li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.horizontal_band {
    width: 100%;
    height: 300px;
    background: #4CAF50;
    font-size: 100px;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}


.vl {
    border-left: 6px solid blue;
    height: 400px;
    position: fixed;
    left: 300px;
}

.but {
    float: right;
    margin-left: 10px;
}