<!DOCTYPE html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{url_for('twitter_page.static', filename='horizontal_bar_chart.css')}}">
    <link rel="stylesheet" href="{{url_for('twitter_page.static', filename='horizontal_bar_chart2.css')}}">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>

    <ul class="top_menu_ul">
        <li class="top_menu_li_left"><a href="{{server_url}}">Back</a></li>
        <li class="top_menu_li"><a href="default.asp">Home</a></li>
        <li class="top_menu_li"><a href="news.asp">News</a></li>
        <li class="top_menu_li"><a href="contact.asp">Contact</a></li>
        <li class="top_menu_li"><a href="about.asp">About</a></li>
    </ul> 

    <div class="horizontal_band">This application processes data from Twitter and determines the most referenced political parties and persons.</div>
    
    <div id="graphic" style="float: left;"></div>

    <div id="choice_buttons" style="float: right;">
        <form>
            <div id="PersonParty">
                Political Parties
                <label class="switch">
                    <input type="checkbox" id="option">
                    <span class="slider"></span>
                </label>
                Persons
            </div>
            <div>
                <div id="sliderLabel"><br>Days ago  </div>
                <div id="slider"></div>
            </div>
            <div>
                <br><br><br><br>
                    Chart Content
                <select id="chartTopic">
                    <option value="occurrences">Tweet Occurrences</option>
                    <option value="retweets">Relacted Retweets</option>
                    <option value="followers">Politics Followers</option>
                </select> 
            </div>
        </form>
        <!--
        <div>
            <br><br><br><br>
            News Region 
            <select id="selectRegion" onchange="setRegion()">
                <option value="any" selected="selected">---choose region---</option>
                <option value="flanders">Flanders</option>
                <option value="wallonia/brussels">Walloni/Brussels</option>
            </select> 
        </div>
        <div>
            <br>
            Entity Region 
            <select id="selectEntityRegion" onchange="setEntityRegion()">
                <option value="any" selected="selected">---choose region---</option>
                <option value="Flanders">Flanders</option>
                <option value="Wallonia/Brussels">Walloni/Brussels</option>
            </select> 
        </div>
        -->
    </div>

<!-- load the d3.js library -->    	
<script src="//d3js.org/d3.v4.min.js"></script>
<script>

var days_ago = 1;
var option = "party";
var request_url = "{{server_url}}"; 
var region = "any";
var entity_region = "any";
var chart_data = "";
var chart_topic = "occurrences";

// set the dimensions and margins of the graph
var margin = {top: 20, right: 20, bottom: 200, left: 60},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

$( document ).ready(request_chart_data()); 
        
function draw_chart(data){

    // set the ranges
    var x = d3.scaleBand()
            .range([0, width])
            .padding(0.1);
    var y = d3.scaleLinear()
            .range([height, 0]);

    //filter data by region
    var formatPercent = d3.format(".0%");
    //convert data to percentage
    //total counts
    var total_counts = 0;

    if( region == "any" ) {
        data.forEach( function(item) {
            total_counts += item["Count"];
        });

        data = data.map(function(item) {
            if(typeof item.Name !== 'string')
                item.Name = item.Name[0];
            var newCount= (total_counts==0) ? 0 : item.Count/total_counts;
            item.Count=newCount;
            if(item.Count=="" || item.Count==undefined)
                item.Count=0;
            return item; 
        });
    } else {
        data.forEach( function(item) {
            if(item[region]!="" && item[region]!=undefined)
                total_counts += item[region];
        });

        data = data.map(function(item) {
            if(typeof item.Name !== 'string')
                item.Name = item.Name[0];
            var newCount= (total_counts==0) ? 0 : item[region]/total_counts;
            item.Count=newCount;
            if(item[region]=="" || item[region]==undefined)
                item.Count=0;
            return item; 
        });
    }

    if(entity_region!="any") {
        data = data.filter(item => item.region == entity_region);
    }

    data.sort(function(a, b) { 
        return b.Count - a.Count;
    })

    // append the svg object to the body of the page
    // append a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg = d3.select("#graphic").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", 
            "translate(" + margin.left + "," + margin.top + ")");

    // Scale the range of the data in the domains
    x.domain(data.map(function(d) { return d.Name; }));
    y.domain([0, d3.max(data, function(d) { return d.Count; })]);

    // append the rectangles for the bar chart
    svg.selectAll(".bar")
        .data(data)
        .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.Name); })
        .attr("width", x.bandwidth())
        .attr("y", function(d) { return y(d.Count); })
        .attr("height", function(d) { return height - y(d.Count); });

    // add the x Axis
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x))
        .attr("class","xAxis");

    // add the y Axis
    svg.append("g")
        .call(d3.axisLeft(y).tickFormat(formatPercent))
        .attr("class","yAxis");

    //if(option=="person") {
        d3.selectAll(".xAxis .tick")
            .each(function() {
                var lineElement=this.children[0];
                var textElement=this.children[1];

                var lineLenght=lineElement.getAttribute('y2');
                var domRect=textElement.getBoundingClientRect();

                var trans_x=domRect.width/2+1.5*lineLenght;
                var trans_y=domRect.height;

                d3.select(textElement)
                    .attr("transform", "rotate(-80), translate(-"+trans_x+",-"+trans_y+")");
            }
        );
    //}
}


$( "#slider" ).slider({
    value: 0,
    min: 0,
    max: 2,
    step: 1,
    slide: function(event,ui){ 
        var days = [1,7,30];
        days_ago = days[ui.value];

        //remove chart
        d3.select("svg").remove();

        //redraw chart
        request_chart_data();
    }
})
.each(function() {

    //
    // Add labels to slider whose values 
    // are specified by min, max and whose
    // step is set to 1
    //

    // Get the options for this slider
    var opt = $(this).data().uiSlider.options;
    
    // Get the number of possible values
    var vals = opt.max - opt.min;

    var labels = ["1","7","30"];
    
    // Space out values
    for (var i = 0; i <= vals; i++) {              
        var el = $('<label>'+labels[i]+'</label>').css('left',(i/vals*100)+'%');           
        $( "#slider" ).append(el);                
    }        
}); 


$('#option').change(function() {
    if($(this).is(":checked")) {
        option = "person";
    } else {
        option = "party";
    }
    //clean old graph
    d3.select("svg").remove();

    request_chart_data();
}); 

$('#chartTopic').change(function() {
    chart_topic = document.getElementById("chartTopic").value;
    if(chart_topic=="followers"){
        var personPartyDiv = document.getElementById("PersonParty");
        personPartyDiv.style.display = 'none';
    } else {
        var personPartyDiv = document.getElementById("PersonParty");
        personPartyDiv.style.display = 'inline';
    }

    d3.select("svg").remove();
    request_chart_data();
}); 

function request_chart_data() {
    var http = new XMLHttpRequest();
    var params = JSON.stringify({"entity": option, "days_ago": days_ago}); 
    http.open('POST', request_url+chart_topic, true);

    //Send the proper header information along with the request
    http.setRequestHeader('Content-type', 'application/json');

    http.onreadystatechange = function() {//Call a function when the state changes.
        if(http.readyState == 4 && http.status == 200) {
            chart_data = JSON.parse(http.responseText);

            //draw new chart
            draw_chart(chart_data);
        }
    }
    http.send(params);
}

function setRegion() {
    region = document.getElementById("selectRegion").value;
    //clean old graph
    d3.select("svg").remove();
    draw_chart(chart_data);
}

function setEntityRegion() {
    entity_region = document.getElementById("selectEntityRegion").value;
    //clean old graph
    d3.select("svg").remove();
    draw_chart(chart_data);
}

</script>
</body>